/* ====== GLOBAL ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

/* ==== MAIN CARD ==== */
.container {
  background: #111;
  padding: 28px;
  border-radius: 14px;
  width: 650px;
  max-width: 95%;
  box-shadow: 0 0 20px #0f0a;
  border: 1px solid #0f0;
}

/* ===== TITLE AREA ===== */
.header-title {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 12px;
  color: #0f0;
}

/* ===== MESSAGES AREA ===== */
.chat-box {
  width: 100%;
  height: 280px;
  overflow-y: auto;
  background: #000;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #0f0;
  margin-bottom: 15px;
}

/* ===== BUBBLES ===== */
.message {
  max-width: 80%;
  padding: 12px;
  border-radius: 8px;
  margin: 8px 0;
  font-size: 15px;
  line-height: 1.4;
}

/* BOT messages */
.bot-message {
  background: #1a1a1a;
  border: 1px solid #0f0;
  color: #0f0;
}

/* USER messages */
.user-message {
  background: #0f0;
  color: #000;
  margin-left: auto;
}

/* LOADING */
.typing {
  font-style: italic;
  opacity: 0.8;
}

/* ===== INPUT Area ===== */
input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  outline: none;
  border: 2px solid #333;
  margin-bottom: 10px;
  font-size: 15px;
  background: #111;
  color: #fff;
}

input:focus {
  border-color: #0f0;
}

/* ===== BUTTON ===== */
button {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #0f0;
  color: #000;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

button:hover {
  background: #12ff45;
}

/* ===== SCROLLBAR ===== */
.chat-box::-webkit-scrollbar {
  width: 8px;
}

.chat-box::-webkit-scrollbar-track {
  background: #000;
}

.chat-box::-webkit-scrollbar-thumb {
  background: #0f0;
  border-radius: 10px;
}

/* MOBILE */
@media (max-width: 600px) {
  .container {
    width: 95%;
    padding: 18px;
  }

  .chat-box {
    height: 240px;
  }
}
